a,
a:hover,
a:focus,
a:active,
h1.site-title,
h1.site-title a {
    color: #d1d0d2;
}

#page {
    max-width: 1024px;
    background: none;
}

body.custom-background {
    background-image: url("/public/ingress/images/background.jpg");
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    color: #d1d0d2;
}

#masthead img.site-logo {
    width: 150px;
    display: inline-block;
    border-bottom: none;
    vertical-align: middle;
}

h1.site-title a {
    vertical-align: middle;
    display: inline-block;
}

a {
    text-decoration: none;
}

#masthead {
    border-bottom: 1px solid #006d5f;
}

.site-intro {
    border-bottom: 3px double #006d5f;
}

.main-navigation a {
    color: #006d5f;
}

.main-navigation li.active a,
.main-navigation a:hover {
    color: #4df8f8;
}

article.hentry,
#secondary .widget {
    background-color: #101f22;
    -moz-box-shadow: inset 0 0 5px #0e2430;
    -webkit-box-shadow: inset 0 0 5px #0e2430;
    box-shadow: inset 0 0 5px #0e2430;
    border: 1px solid #4d94aa;
    border-radius: 0;
}

article.hentry .entry-header,
#secondary .widget-title {
    background-color: #214952;
    box-shadow: inset 0 0 10px #00797b;
    border: 1px solid #00f3ff;
    padding: 5px;
    margin: 0;
}

#secondary .widget-title,
#secondary .widget-title a {
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 1px #FFF;
}

#secondary ul li {
    padding: .25em 1.25em;
}

article.hentry .entry-header {
    text-shadow: 0 0 1px #fb0;
    padding: .5em 1em;
}

article.hentry .entry-content {
    padding: 1em;
}

footer.entry-meta>p {
    padding: .5em 1em;
}

div#primary,
div#secondary {
    padding: 24px 8px 0;
}

pre {
    background-color: #062d35;
    border: 1px solid #00797b;
}

p.postedon {
    text-align: left;
}

footer.entry-meta {
    border-top: 1px solid #4d94aa;
}

div.entry-content a,
div.page a {
    text-decoration: underline;
}

div.entry-content img,
div.page img {
    max-width: 100%;
}

p {
    margin-bottom: .5em;
}

div.highlighter-rouge {
    margin: 5px 0;
}

code.highlighter-rouge {
    padding: 1px 8px;
    color: #d01040;
    background: #f9f2f4;
    border: 1px groove #ffbece;
}

.page-navigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.page-navigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.page-navigation .prev {
    text-align: left;
    float: left;
}

.page-navigation .next {
    text-align: right;
    float: right;
}

blockquote {
    text-align: justify;
}

.technical blockquote {
    margin: 0 1.5em;
    font-family: "Monospace", "Consolas", "Bodohi", "Times New Roman";
    font-size: 2rem;
    line-height: 1.5;
}

h1.entry-title a,
h1.entry-title a:hover,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fb0;
    text-decoration: none;
}


/* Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    div#primary,
    div#secondary {
        padding: 24px 3% 0 3%;
    }
}
